@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-[#00458b] hover:text-[#005e5e];
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

h1 {
  @apply text-heading-lg;
}

h2 {
  @apply text-heading-md;
}

h3 {
  @apply text-heading-sm;
}

h4 {
  @apply text-heading-xs;
}

h5 {
  @apply text-heading-xxs;
}

h6 {
  @apply text-heading-xxxs;
}