@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7fa;
  --background-menu: #f1edfc;

  --primary-10: #e6dfff40;
  --primary-50: #e6dfff66;
  --primary-100: #e6dfff;
  --primary-200: #d3c7ff;
  --primary-500: #582acb;

  --grey-400: #bab4d9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Sans", system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
